.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo img{
    margin: 10px 100px;
    width: 125px;
}

.headerText {
    float: right;
}

.headerText h1{
    margin: 10px 100px;
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;
    text-align: center;
}

.navButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 30px;
  }

.navButton-item {
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.navButton-item:hover {
    cursor: pointer;
}

.devButton {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 20px 0px 0px 20px;
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.artButton {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 0px 20px 20px 0px;
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.blackButton {
    background: #000000;
    color: #FFFFFF;
}

.whiteButton {
    background: #FFFFFF;
    color: #000000;
}

.slideContainer {
    background-color: #D9D9D9;
    height: 450px;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    display: flex;
}

.slideContainer section {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.timeline {
  background-color: lightgray;
  margin: 0 auto;
  height: 10px;
  position: relative;
  border-radius: 5px;
}

.timeline-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.timeline-dot.active {
  background-color: gray;
  /* cursor: pointer; */
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip::after {
    content: attr(data-tooltip);
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .social-icons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 50px;
    padding: 10px;
    background-color: #D9D9D9;
    z-index: 9999;
  }
  
  .social-icons-container a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons-container a:hover {
    color: lightgray;
  }

  /* Component Specific Animations*/

  .navButton-container.fadeInUp {
    animation-delay: 0.5s;
}

  /* Animations Below */

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    .rotateInUpLeft {
        -webkit-animation-name: rotateInUpLeft;
        animation-name: rotateInUpLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes rotateInUpLeft {
        0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
        }
        100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        }
        }
        @keyframes rotateInUpLeft {
        0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
        }
        100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        }
        } 

        .rotateInUpRight {
            -webkit-animation-name: rotateInUpRight;
            animation-name: rotateInUpRight;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes rotateInUpRight {
            0% {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, -90deg);
            opacity: 0;
            }
            100% {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: none;
            transform: none;
            opacity: 1;
            }
            }
            @keyframes rotateInUpRight {
            0% {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, -90deg);
            opacity: 0;
            }
            100% {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: none;
            transform: none;
            opacity: 1;
            }
            } 
    
            .fadeInDown {
                -webkit-animation-name: fadeInDown;
                animation-name: fadeInDown;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                }
                @-webkit-keyframes fadeInDown {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                }
                @keyframes fadeInDown {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                } 