.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo img{
  margin: 10px 100px 0px 100px;
  width: 125px;
}

.headerText {
  float: right;
}

.headerText h1{
  margin: 10px 100px;
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
}

.navButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 30px;
}

.navButton-item {
  width: 230px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  }
.navButton-item:hover {
  cursor: pointer;
  padding: 5px;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}

.devButton {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 20px 0px 0px 20px;
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.artButton {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 0px 20px 20px 0px;
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.blackButton {
  background: #000000;
  color: #FFFFFF;
}

.whiteButton {
  background: #FFFFFF;
  color: #000000;
}

.slideContainer {
  margin: auto;
  /* background-color: red; */
  background-color: #D9D9D9;
  height: 65vh;
  width: 80%;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  display: flex;
}

.slideContainer section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  /* background-color: red; */
}

.timeline {
background-color: lightgray;
margin: 0 auto;
height: 10px;
position: relative;
border-radius: 5px;
}

.timeline-dots {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 5px;
}

.timeline-dot {
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
transition: background-color 0.3s ease-in-out;
}

.timeline-dot.active {
background-color: gray;
/* cursor: pointer; */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.social-icons-container {
  position: fixed;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  /* width: 50px; */
  padding: 10px;
  background-color: #D9D9D9;
  z-index: 9999;
  margin-left: 50px;
}

.social-icons-container a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  transition: .3s ease-in-out;
  display: flex;
}

.social-icons-container a:hover {
  color: black;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  /* border: solid 1px black; */
}

.iconText {
  display: none;
  margin-left: 5px;
}

.social-icons-container :hover .iconText {
  display: block;
  color: black;
}

#slide-1 {
  display: flex;
}

.slide-1-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  text-align: right;
  line-height: 28px;
  /* border-right: 3px solid black; */
}

.slide-1-left h1 {
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  margin: 0px;
  line-height: 50px;
}

.slide-1-left p {
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.slide-1-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Component Specific Animations*/

.navButton-container.fadeInUp {
  animation-delay: 0.5s;
}

.fadeInLeft.icon1 {
  animation-delay: 0s;   
}
.fadeInLeft.icon2 {
  animation-delay: 0.1s;   
}
.fadeInLeft.icon3 {
  animation-delay: 0.2s;   
}
.fadeInLeft.icon4 {
  animation-delay: 0.3s;   
}

.fadeInRight.description{
  animation-delay: .3s;
}


/* Animations Below */

.rotate span {
display: inline-flex;
animation: rotate 3s infinite;
}
@keyframes rotate {
0%,
75% {
    transform: rotateY(360deg);
}
}

.nine span:nth-of-type(1) {
animation-delay: 0.1s;
}
.nine span:nth-of-type(2) {
animation-delay: 0.2s;
}
.nine span:nth-of-type(3) {
animation-delay: 0.3s;
}
.nine span:nth-of-type(4) {
animation-delay: 0.4s;
}
.nine span:nth-of-type(5) {
animation-delay: 0.5s;
}
.nine span:nth-of-type(6) {
animation-delay: 0.6s;
}
.nine span:nth-of-type(7) {
animation-delay: 0.7s;
}
.nine span:nth-of-type(8) {
animation-delay: 0.8s;
}
.nine span:nth-of-type(9) {
animation-delay: 1s;
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

@keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
} 

.rotateInUpLeft {
-webkit-animation-name: rotateInUpLeft;
animation-name: rotateInUpLeft;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpLeft {
0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
}

@keyframes rotateInUpLeft {
0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
} 

.rotateInUpRight {
-webkit-animation-name: rotateInUpRight;
animation-name: rotateInUpRight;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpRight {
0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
}
@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
} 
  
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 