/*Header*/
.headerDiv {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.headerText {
  float: right;
}

.headerText h1{
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
}

/*Nav Button*/
.navButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 30px;
}

.navButton-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  }

.navButton-item:hover {
  cursor: pointer;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.devButton {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 20px 0px 0px 20px;
}

.artButton {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 0px 20px 20px 0px;
}

.blackButton {
  background: #000000;
  color: #FFFFFF;
}

.whiteButton {
  background: #FFFFFF;
  color: #000000;
}

/*Social Icons*/
.social-icons-container {
  position: fixed;
  padding: 10px;
  /* background-color: #D9D9D9; */
  /* z-index: 9999; */
  align-items: center;
}

.social-icons-container a {
  color: black;
  text-decoration: none;
  transition: .3s ease-in-out;
  display: flex;
}

.social-icons-container a:hover {
  color: black;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
}

.iconText {
  display: none;
  margin-left: 5px;
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
}

.social-icons-container :hover .iconText {
  display: block;
  color: black;  
}

/*Content*/
.scrollCon {
  width: 100vw;
  height: 100vh;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  overflow: auto;
}

.scrollCon section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  scroll-snap-align: start;
}

.scrollCon section:nth-of-type(1) {
  background: lightgreen;
}

.scrollCon section:nth-of-type(2) {
  background: red;
}

.scrollCon section:nth-of-type(3) {
  background: blue;
}

.scrollCon::-webkit-scrollbar {
  display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*Header*/
  .headerLogo img{
    margin: 10px 0 0 15px;
    width: 90px;
  }

  .headerText h1{
    margin-right: 15px;
    font-size: 25px;
  }

  /*Nav Button*/
  .navButton-container {
    bottom: 65px;
  }

  .navButton-item {
    width: 180px;
    height: 50px;
    font-size: 25px;
    }
    
  .navButton-item:hover {
    font-size: 30px;
  }

  /*Social Icons*/
  .social-icons-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 95%;
    bottom: 10px;
    /* margin-left: 0px; */
    align-items: center;
  }

  .social-icons-container a {
    margin-bottom: 0px;
  }

  .iconText {
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
   /*Header*/
  .headerLogo img{
    margin: 10px 0 0 30px;
    width: 100px;
  }

  .headerText h1{
    margin-right: 30px;
    font-size: 30px;
  }

  /*Nav Button*/
  .navButton-container {
    bottom: 65px;
  }

  .navButton-item {
    width: 230px;
    height: 50px;
    font-size: 30px;
  }
      
  .navButton-item:hover {
    font-size: 35px;
  }

  /*Social Icons*/
  .social-icons-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 95%;
    bottom: 10px;
    align-items: center;
    /* margin-left: 0px; */
  }
  
  .social-icons-container a {
    margin-bottom: 0px;
  }
  
  .iconText {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   /*Header*/
  .headerLogo img{
    margin: 10px 0 0 30px;
    width: 110px;
  }

  .headerText h1{
    margin-right: 30px;
    font-size: 30px;
  }

  .social-icons-container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 10px;
    align-items: center;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   /*Header*/
  .headerLogo img{
    margin: 10px 0 0 30px;
    width: 120px;
  }

  .headerText h1{
    margin-right: 30px;
    font-size: 35px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   /*Header*/
  .headerLogo img{
    margin: 20px 0 0 30px;
    width: 130px;
  }

  .headerText h1{
    margin-right: 30px;
    font-size: 35px;
  }

  /*Nav Button*/
  .navButton-container {
    bottom: 30px;
  }

  /*Social Icons*/
  .social-icons-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 30%;
    bottom: 40px;
    float: left;
    margin-left: 70px;
    align-items: start;
  }

  .social-icons-container a {
    margin-bottom: 0px;
  }

  .iconText {
    font-size: 20px;
  }
}


/* Animations Below */

.rotate span {
display: inline-flex;
animation: rotate 3s infinite;
}
@keyframes rotate {
0%,
75% {
    transform: rotateY(360deg);
}
}

.nine span:nth-of-type(1) {
animation-delay: 0.1s;
}
.nine span:nth-of-type(2) {
animation-delay: 0.2s;
}
.nine span:nth-of-type(3) {
animation-delay: 0.3s;
}
.nine span:nth-of-type(4) {
animation-delay: 0.4s;
}
.nine span:nth-of-type(5) {
animation-delay: 0.5s;
}
.nine span:nth-of-type(6) {
animation-delay: 0.6s;
}
.nine span:nth-of-type(7) {
animation-delay: 0.7s;
}
.nine span:nth-of-type(8) {
animation-delay: 0.8s;
}
.nine span:nth-of-type(9) {
animation-delay: 1s;
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

@keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
} 

.rotateInUpLeft {
-webkit-animation-name: rotateInUpLeft;
animation-name: rotateInUpLeft;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpLeft {
0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
}

@keyframes rotateInUpLeft {
0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
} 

.rotateInUpRight {
-webkit-animation-name: rotateInUpRight;
animation-name: rotateInUpRight;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes rotateInUpRight {
0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
  opacity: 0;
}
100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}
}
@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
} 
  
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 